:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --accent-color: #00bcd4;
  --text-color: #ffffff;
  --card-bg: #252525;
  --hover-bg: #333333;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
